

<footer>
    <section class="seccion-footer">

        <article class="bars-button">
            <a href=""><i class="fa-solid fa-bars"></i></a>
        </article>

        <article class="footer-redes">
            <a class="footer-redes-gmail" href=""><img src=""></a>
            <a class="footer-redes-instagram" href=""><img src=""></a>
            <a class="footer-redes-facebook" href=""><img src=""></a>
            <a class="footer-redes-twitter" href=""><img src=""></a>
        </article>

        <section class="seccion-footer-listados">
            <article>
                <ul class="listado-izquierdo">
                    <a class="footer-cambios-devoluciones" href="/cambiosydevoluciones">Cambios y devoluciones</a>
                    <a class="footer-politicas" href="/politicasdeprivacidad">Politica de privacidad</a>
                    <a class="footer-arrepentimiento" href="/arrepentimientodeactividades">Arrepentimiento de
                        actividades</a>
                    <a class="footer-preguntas" href="/preguntasfrecuentes">Preguntas frecuentes</a>
                    <a class="" href="/preguntasblog">Preguntas, blog de usuarios</a>
                </ul>
            </article>
            <article>
                <ul class="listado-derecho">
                    <a href="/contacto">Contacto</a>
                    <a href="/contratacion">Contratacion</a>
                    <a href="/terminosycondiciones">Terminos y condiciones</a>
                    <a href="/transporte">Transporte</a>
                </ul>
            </article>
        </section>
        <article class="footer-end">
            <a><img class="logo-footer" src="/images/El-Bartero.png" alt="Imagen"></a>
            <p class="copyright">Copyright ©</p>
        </article>

    </section>

</footer>