
<footer>
    <section class="seccion-footer">

        <article class="listado-izquierdo">
            <ul>
                <a class="inline"  href="/cambiosydevoluciones">Cambios y devoluciones</a>
                <a class="inline" href="/politicasdeprivacidad">Politica de privacidad</a>
                <a class="inline" href="/arrepentimientodeactividades">Arrepentimiento de actividades</a>
                <a class="inline" href="/preguntasfrecuentes">Preguntas frecuentes</a>
                <a class="inline" href="/preguntasblog">Preguntas, blog de usuarios</a>
            </ul>
        </article>

        <article class="footer-redes">
            <a class="redes" href=""><i class="fa-solid fa-envelope"></i></a>
            <a class="redes" href=""><i class="fa-brands fa-instagram"></i></a>
            <a class="redes" href=""><i class="fa-brands fa-facebook"></i></a>
            <a class="redes" href=""><i class="fa-brands fa-twitter"></i></a>
        </article>

        <article class="listado-derecho">
            <ul>
                <a class="inline" href="/contacto">Contacto</a>
                <a class="inline" href="/contratacion">Contratacion</a>
                <a class="inline" href="/terminosycondiciones">Terminos y condiciones</a>
                <a class="inline" href="/transporte">Transporte</a>
                <a class="inline" href="">Crear usuario de marcas</a>
                <a class="inline" href="/useracountmarcas">Acceder a usuario de marcas</a>
            </ul>
        </article>

        <article class="footer-end">
            <p class="copyright">Copyright ©</p>
        </article>

    </section>
</footer>