<header class="main-header">
    <div class="main-header-top-bar">
        <a href="/"><img src="/images/El-Bartero-removebg-preview.png" class="logo" /></a>
        <!-- BARRA DE BUSQUEDAD -->
        <div class="search">
            <input type="search" id="search-input" name="search" placeholder="Buscar productos, marcas y más" />
            <button type="submit" aria-label="Buscar" i>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <!-- <a href="#" class="burger-menu ">
        <i class="fas fa-bars"></i>
    </a> -->
    <nav class="main-navbar">
        <ul class="right-navbar">
            <li><a href="#">Instructivo</a></li>
            <li><a href="#">Mercado</a></li>
            <li><a href="#">Balanza</a></li>
            <li><a href="#">Subasta</a></li>
            <li><a href="#">Valoracion</a></li>
        </ul>

        <ul class="left-navbar">
            <li>
                <a href="/signup">Crea tu cuenta
                    <i class="fa-solid fa-address-card"></i></a>
            </li>
            <li><a href="/signin">Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i></li></a>
            <li>
                <a href="#">Mis Compras
                    <i class="fa-solid fa-basket-shopping"></i></a>
            </li>
        </ul>
    </nav>
</header>

