<header class="main-header">
    <div class="main-header-top-bar">
        <div class="balanza-icono-contenido-despelgable">
            <button class="balanza-icono">

                <a> <img src="/images/Balanza-icono.png"></a>
            </button>

            <div class="contenido-desplegable">

                <a href="/instructivo" class="opb-iconos-desplegables"><img src="/images/icono-instructivo.png"
                        alt=""></a>
                <a href="/mercadocomercial"><img class="opb-iconos-desplegables"
                        src="/images/icono-mercado-comercial.png" alt=""></a>
                <a href="/mercadousuarios"><img class="opb-iconos-desplegables" src="/images/icono-mercado-usuarios.png"
                        alt=""></a>
                <a href="/balanza"><img class="opb-iconos-desplegables" src="/images/Icono-Balanza-color.png"
                        alt=""></a>
                <a href="/subasta"><img class="opb-iconos-desplegables" src="/images/Icono-Subasta-color.png"
                        alt=""></a>
                <a href="/valoracion"><img class="opb-iconos-desplegables" src="/images/Icono-Valoracion-color.png"
                        alt=""></a>
                <a href="/canasta"><img class="opb-iconos-desplegables" src="/images/Icono-Canasta-color.png"
                        alt=""></a>

            </div>
        </div>

        <a href="/"><img src="/images/El-Bartero-removebg-preview.png" class="logo" /></a>
        <div class="user-menu-dropdown">
            <button class="button-user-drop"><i class="fa-solid fa-circle-user"></i></button>
            <div class="content-user-drop">
                <a href="/">Inicio</a>
                <a href="/signin">Ingresa</a>
                <a href="/signup">Registrate</a>
            </div>
        </div>

        <!-- BARRA DE BUSQUEDAD -->
        <div class="search">
            <input type="search" id="search-input" name="search" placeholder="Buscar productos, marcas y más" />
            <button type="submit" aria-label="Buscar" i>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>


    <nav class="main-navbar">
        <ul class="right-navbar">
            <li><a href="/instructivo">Instructivo</a></li>
            <li><a href="#">Mercado</a></li>
            <li><a href="/balanza">Balanza</a></li>
            <li><a href="/subasta">Subasta</a></li>
            <li><a href="valoracion">Valoracion</a></li>
        </ul>

        <ul class="left-navbar">
            <li>
                <a href="/signup">Crea tu cuenta
                    <i class="fa-solid fa-address-card"></i></a>
            </li>
            <li><a href="/signin">Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i></li></a>
            <li>
                <a href="#">Carrito
                    <i class="fa-solid fa-cart-shopping"></i></a>
            </li>
        </ul>
    </nav>
</header>