

<header class="header">

    <div>
        <a href="/home"><img class="logo-ElBartero" src="/images/El-Bartero.png" alt="Imagen"></a>
    </div>

    <div><a><img class="balanza-icono" src="/images/Balanza-icono.png"></a></div>
    <section class="seccion-user">
        <div class="user-option">
            <a href="/useracount"><i class="fa-solid fa-user"></i></a>
            <a class="descripcion-user" href="/useracount">User</a>
        </div>
        <div class="sign-out-option">
            <a><img class="sign-out-icon" src="/images/Sign-in-white.png" href="/home"></a>
            <a class="descripcion-sign-out" href="/home" >Sign out</a>
        </div>
        <div class="sign-up-option">
            <a href="/signup"><i class="fa-solid fa-user-plus"></i></a>
            <a class="descripcion-sign-up" href="/signup">Sing up</a>
        </div>

    </section>

    <section class="seccion-viñetas">

        <a class="instructivo" href="">Instructivo</a>

        <div class="redirige-mercados">
            <button class="dropbtn">Ir al mercado</button>
            <div class="dropdown-content">
                <a href="/mercadocomercial">Mercado comercial</a>
                <a href="/mercadousuarios">Mercado de usuarios</a>
            </div>
        </div>

        <a class="redirige-balanza" href="/balanza">Ir a la Balanza</a>
        <a class="redirige-subasta" href="/subasta">Ir a la Subasta</a>
        <a class="redirige-valoracion" href="/valoracion">Ir a la Valoracion</a>
        <a class="redirige-canasta" href="/canasta">Ir a la Canasta</a>

    </section>

</header>