<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="/css/logIn.css" rel="stylesheet" />
    <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/74839f3c8a.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/normalize.css" />
    
    <!-- Agregue hoja de estilo -->
    <link href="/css/styles.css" rel="stylesheet">
    <title> <%= title %></title>
  </head>

  <body>

    <header>
    
      <%- include( '../partials/header') %>
  
      </header>

      <!-- inicio del MAIN -->
      <main class="main-login">
        <div class="principal-main">
          <p id="line1"> __</p>
          <h2 id="subtitulo">Login</h2>
        <p id="line2">__</p>
        <div id="logo-login">
          <img src="/images/logo-sin-fondo.png" alt="logo-bartero" />
        </div>
        <form action="/" method="get">
          <div class="usuario">
            <label for="nombre">User o email</label>
            <input type="text" name="Nombre" id="nombre" required />
          </div>
          <div class="usuario">
            <label for="contrasena">Password</label>
            <input type="password" name="contrasena" id="contrasena" required />
          </div>
          <div id="recordarme">
            <input type="checkbox" id="record" name="recordarme" />
            <label for="record">recordarme</label>
          </div>
          <div class="continuar">
            <input type="submit" value="Continuar" class="submit-continuar" />
          </div>
          <div id="remember">
            <a  href="#">¿olvidó su contraseña o usario?</a>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <%- include( '../partials/footer') %>
      </footer>
  </body>
</html>