<!DOCTYPE html>
<html lang="en">
  <!-- HEAD  -->
  <link href="/css/logIn.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
<%- include('../partials/head') %>
<!--  HEAD -->
  <body>
      <%- include( '../partials/header') %>
      <!-- inicio del MAIN -->
      <main>
        <div class="principal-main">
          <p id="line1"> __</p>
          <h2 id="subtitulo">Login</h2>
        <p id="line2">__</p>
        <div id="logo-login">
          <img src="/images/logo-sin-fondo.png" alt="logo-bartero" />
        </div>
        <form action="/" method="get">
          <div class="usuario">
            <label for="nombre">User o email</label>
            <input type="text" name="Nombre" id="nombre" required />
          </div>
          <div class="usuario">
            <label for="contrasena">Password</label>
            <input type="password" name="contrasena" id="contrasena" required />
          </div>
          <div id="recordarme">
            <input type="checkbox" id="record" name="recordarme" />
            <label for="record">recordarme</label>
          </div>
          <div class="continuar">
            <input type="submit" value="Continuar" class="submit-continuar" />
          </div>
          <div id="remember">
            <a  href="#">¿olvidó su contraseña o usario?</a>
          </div>
        </form>
      </div>
    </main>
    <footer>
      <%- include( '../partials/footer') %>
      </footer>
  </body>
</html>