
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %>
    <title> <%= title %></title>
</head>
<body>
    <header>
        <%- include('../partials/header')  %>
    </header>
    <main>
        <section class="seccion-uno">
            <h2>Creacion de mercaderia marcas</h2>

            <form action="/mercadocomercialmercaderias" method="post">
                <label for="">Nombre</label>
                <input type="text">

                <input type="submit">
            </form>

        </section>
    
    </main>
        <footer>
            <%- include('../partials/footer')  %>
        </footer>
</body>

</html>