<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>

</head>

<body>
    <header>

        <%- include( '../partials/header' ) %>

    </header>

    <main class="main">

        <section class="seccion-uno">

            <article class="on-page-mercado-usuarios">
                <h4 class="opmu-titulo-primero">Mercado de Usuarios</h4>
                <div class="opmu-cateogrias">
                    <div class="opmu-categoria-oro">
                        <h5>Oro</h5>
                    </div>
                    <div class="opmu-categoria-plata">
                        <h5>Plata</h5>
                    </div>
                    <div class="opmu-categoria-bronce">
                        <h5>Bronce</h5>
                    </div>
                </div>
                <div class="opmu-input-label">
                    <label for="mercado-usuarios">Buscar en el mercado de usuarios</label>
                    <input class="input-search-mercado-usuarios" type="search" name="mercado-usuarios">
                </div>
            </article>

        </section>

        <section class="seccion-dos">

            <article class="buscar-por-categoria-on-page-usuarios">

                <h4 class="opmu-titulares-article">Buscar por categorias</h4>
                <div class="on-page-usuarios-on-article-categorias">
                    <div class="opmu-buscar-categorias-iconos">
                        <i class="fa-solid fa-laptop"></i>
                        <i class="fa-solid fa-mobile-button"></i>
                        <i class="fa-regular fa-washing-machine"></i>
                    </div>
                </div>
            </article>

        </section>

        <section class="seccion-tres">

            <article class="on-page-usuarios-ofertas">
                <h4 class="opmu-titulares-article">Ofertas del dia</h4>
                
                <div class="opmu-muestra-mercaderia-f1-c1">

                    <p class="opmu-muestra-titulo">Descripcion del producto</p>

                    <div class="opmu-muestra-mercaderia-foto">

                    </div>

                    <div class="opmu-muestra-mercaderia-choosewindow">

                        <button class="opmu-boton-ver" type="button" onclick="location.href='/mercaderiausuarios';">Ver</button>
                        <button type="button">Valorar</button>
                        <button class="opmu-boton-al-almacen" type="button">Cargar al almacen</button>
                        <button type="button">Iniciar negociacion</button>
                        <button class="opmu-boton-compra" type="button">Comprar</button>

                    </div>


                </div>
                <div class="opmu-productos-en-muestra-primera-fila"></div>
                <div class="opmu-productos-en-muestra-segunda-fila"></div>
                <div class="opmu-productos-en-muestra-segunda-fila"></div>
            </article>

        </section>
        <section class="seccion-cuatro">
            <article class="on-usuarios-ofertas">
                <h4 class="opmu-titulares-article"> Ofertas </h4>
                <div class="opmu-productos-en-muestra-primera-fila"></div>
                <div class="opmu-productos-en-muestra-primera-fila"></div>
                <div class="opmu-productos-en-muestra-segunda-fila"></div>
                <div class="opmu-productos-en-muestra-segunda-fila"></div>
            </article>
        </section>
    </main>

    <footer>
        <%- include( '../partials/footer' ) %>
    </footer>
</body>

</html>