
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ( '../partials/head' ) %>
    <title> <%= title %></title>
    </head>

<body>
    <header>
    
        <%- include( '../partials/header') %>
    
        </header>

    <main class="main">

            <section class="on-page-seccion-mercaderia-en-exhibicion">

                <article class="opme-caracteristicas-article">

                    <div class="opme-caracteristicas-nombre">
                        <p>Nombre de la mercaderia</p>
                    </div>
                    <div class="opme-caracteristicas-fotos">
                        <h4 class="opme-caracteristicas-fotos-titular">Fotos</h4>
                    </div>
                    <div class="opme-caracteristicas-info">
                        <h4 class="opme-caracteristicas-info-titular">Informacion</h4>
                    </div>
                    <div class="opme-caracteristicas-opciones">

                        <button class="opme-boton-de-compra" type="button" onclick="location.href='/comprarmercaderia';">Comprar</button>
                        <button class="opme-boton-interes" type="button">Cargar en el almacen</button>
                        
                    </div>
                </article>

            </section>
    </main>

    <footer>
        <%- include( '../partials/footer') %>
        </footer>
</body>

</html>