<!DOCTYPE html>
<html lang="en">

<head>
<%- include ( '../partials/head' ) %>
<title> <%= title %></title>
</head>


<body>

    <header>
    
    <%- include( '../partials/header') %>

    </header>
    <main class="main">

        <section class="seccion-uno">
            <article class="articulo-filter">

                <div class="checkbox-mercados">

                    <label class="label-mercado-comercios" for="buscador-principal">Mercado de Comercios</label>
                    <input type="checkbox" name="Mercado-comercios" id="buscador-principal">
                    <label class="label-mercado-usuarios" for="buscador-principal">Mercado de Usuarios</label>
                    <input type="checkbox" name="Mercado-usuarios" id="buscador-principal">

                </div>

                <div class="categoria-mercado-usuarios">

                    <label class="label-oro" for="buscador-principal">Oro</label>
                    <input type="checkbox" name="Mercado-usuarios" id="buscador-principal">
                    <label class="label-plata" for="buscador-principal">Plata</label>
                    <input type="checkbox" name="Mercado-usuarios" id="buscador-principal">
                    <label class="label-bronce" for="buscador-principal">Bronce</label>
                    <input type="checkbox" name="Mercado-usuarios" id="buscador-principal">

                </div>

            </article>
            <article class="articulo-input">
                <label for="buscador-principal"></label>
                <input class="input-search" type="search" size="40" name="buscador-principal">
                <button type="submit" class="fa-solid fa-magnifying-glass">
            </article>
        </section>

        <section class="seccion-dos">
            <article>

                <h4>CATEGORIAS</h4>

                <div class="cards-list">

                    <div class="card-uno">

                        <div>
                            <img class="card_image"
                                src="https://fdn2.gsmarena.com/vv/pics/apple/apple-iphone-11-2.jpg" />
                        </div>

                        <div class="card_title title-black">
                            <p>CELULARES</p>
                        </div>
                    </div>

                    <div class="card-dos">

                        <div>
                            <img class="card_image"
                                src="https://tse2.mm.bing.net/th?id=OIP.9ZABQ3an2JyfCYePtc5SbgHaHa&pid=Api&P=0" />
                        </div>

                        <div class="card_title title-black">
                            <p>TELEVISORES</p>
                        </div>
                    </div>

                    <div class="card-tres">
                        <div>
                            <img class="card_image"
                                src="https://tse3.mm.bing.net/th?id=OIP.OL3ypqHOlTX8-KavPU5ODAHaHa&pid=Api&P=0" />
                        </div>
                        <div class="card_title">
                            <p>ZAPATILLAS</p>
                        </div>
                    </div>

                    <div class="card-cuatro">
                        <div>
                            <img class="card_image"
                                src="https://tse4.mm.bing.net/th?id=OIP.82puBKbdEwRPgxhimq6JRQHaHa&pid=Api&P=0" />
                        </div>

                        <div class="card_title title-black">

                            <p>INDUMENTARIA</p>
                        </div>

                    </div>

                </div>
            </article>
        </section>

        <section class="seccion-tres">
            <article>
                <h4> Oferta: Mercado de comercios</h4>
            </article>

        </section>
        <section class="seccion-cuatro">
            <article>
                <h4> Oferta: Mercado de Usuarios</h4>
            </article>

        </section>
    </main>

    <footer>
    <%- include( '../partials/footer') %>
    </footer>
</body>

</html>