<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>El Bartero</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css" />

</head>

<body>
    <header id="header">

        <section>
            <a><img id="logo-ElBartero" src="/images/El-Bartero.png" alt="Imagen"></a>

        </section>
    </header>
    <main>
        <section id="input-filter">
            <div>
                <h3>Filter</h3>
                <input type="checkbox" value="Bike">
                <label for="vehiculo">Tengo una bicicleta</label>
            </div>
            <div>
            <span><input type="search" size="40px"></span>
            </div>
        </section>

        <section>

        </section>
        <section>


        </section>
    </main>
    <footer>

    </footer>
</body>

</html>