
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercaderia en exhibicion</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="css/normalize.css" />

</head>

<body>
    <header class="header">

        <div>
            <a><img class="logo-ElBartero" src="/images/El-Bartero.png" alt="Imagen"></a>
        </div>

        <div><a><img class="balanza-icono" src="/images/Balanza-icono.png"></a></div>

        <section class="seccion-user">
                <div class="user-option">
                <a><i class="fa-solid fa-user"></i></a>
                <p class="descripcion-user">User</p>
                </div>
                <div class="sign-out-option">
                    <a><img class="sign-out-icon" src="/images/Sign-in-blue.png"></a>
                    <p class="descripcion-sign-out">Sign out</p>
                </div>
                <div class="sign-up-option">
                    <a><i class="fa-solid fa-user-plus"></i></a>
                    <p class="descripcion-sign-up">Sing up</p>
                </div>

        </section>

        <section class="seccion-viñetas">

                <a class="instructivo" href="https://google.com">Instructivo</a>
                <a class="redirige-mercados" href="">Ir al mercado</a>
                <a class="redirige-balanza" href="">Ir a la Balanza</a>
                <a class="redirige-subasta" href="">Ir a la Subasta</a>
                <a class="redirige-valoracion" href="">Ir a la Valoracion</a>
                <a class="redirige-canasta" href="">Ir a la Canasta</a>


        </section>

    </header>
    <main class="main">

            <section class="on-page-seccion-mercaderia-en-exhibicion">

                <article class="opme-caracteristicas-article">

                    <div class="opme-caracteristicas-nombre">
                        <p>Nombre de la mercaderia</p>
                    </div>
                    <div class="opme-caracteristicas-fotos">
                        <h4 class="opme-caracteristicas-fotos-titular">Fotos</h4>
                    </div>
                    <div class="opme-caracteristicas-info">
                        <h4 class="opme-caracteristicas-info-titular">Informacion</h4>
                    </div>
                    <div class="opme-caracteristicas-opciones">

                        
                        <button class="opme-boton-de-compra" type="button">Comprar</button>
                        <button class="opme-boton-interes" type="button">Llevar al almacen</button>
                        
                    </div>
                </article>

            </section>
    </main>

    <footer>
        <section class="seccion-footer">

            <article class="bars-button">
                <a href=""><i class="fa-solid fa-bars"></i></a>
            </article>
            
            <article class="footer-redes">
                <a class="footer-redes-gmail" href=""><img src=""></a>
                <a class="footer-redes-instagram" href=""><img src=""></a>
                <a class="footer-redes-facebook" href=""><img src=""></a>
                <a class="footer-redes-twitter" href=""><img src=""></a>
            </article>

           <section class="seccion-footer-listados"> 
            <article>
                <ul class="listado-izquierdo">
                    <p class="footer-cambios-devoluciones" href="">Cambios y devoluciones</p>
                    <p class="footer-politicas" href="">Politica de privacidad</p>
                    <p class="footer-arrepentimiento" href="">Arrepentimiento de actividades</p>
                    <p class="footer-preguntas" href="">Preguntas frecuentes</p>
                </ul>
            </article>
            <article>
                <ul class="listado-derecho">
                    <p href="">Contacto</p>
                    <p href="">Contratacion</p>
                    <p href="">Terminos y condiciones</p>
                    <p href="">Transporte</p>
                </ul>
            </article>
           </section>
            <article class="footer-end">
                <a><img class="logo-footer" src="/images/El-Bartero.png" alt="Imagen"></a>
                <p class="copyright">Copyright ©</p>
            </article>

        </section>

    </footer>
</body>

</html>